In [6]:
from sklearn.metrics.pairwise import linear_kernel
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
import os
import sys

In [3]:
os.chdir('../') # remove the last directory
path = os.getcwd()
print(path)

/home/joao_victor/netflix-recommendation-app

In [4]:
df_titles = pd.read_csv(path + '/data/output/df_titles.csv')
df_titles.head(2)

,Unnamed: 0,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,genres_transformed,production_countries_transformed
0,0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,48,['documentation'],['US'],1.0,NaN,6.533447,NaN,0.600,6.818039,documentation,US
1,1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,113,"['crime', 'drama']",['US'],0.0,tt0075314,8.300000,795222.0,27.612,8.200000,crime,US

In [12]:


titles_data = df_titles.copy()


tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(titles_data['description'])
tfidf_matrix

<5699x21017 sparse matrix of type '<class 'numpy.float64'>'
	with 115106 stored elements in Compressed Sparse Row format>

In [8]:


cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

indices = pd.Series(titles_data.index, index=titles_data['title']).drop_duplicates()

def get_recommendations(title, cosine_sim=cosine_sim):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]
    return titles_data[['title','description']].iloc[movie_indices]

In [9]:
get_recommendations('Ganglands')

,title,description
705,Top Boy,A thrilling and raw crime drama following a ga...
3191,Black Summer,"In the dark, early days of a zombie apocalypse..."
3447,How to Sell Drugs Online (Fast),How do you win back your girlfriend from the s...
2787,Time Share,"While staying at a tropical resort, a man beco..."
3170,Top Boy,Two seasoned drug dealers return to the gritty...
1589,The Princess Weiyoung,A princess descended from a ruined noble famil...
5148,Move to Heaven,"Finding life in all that's left behind, a trau..."
5576,The Misadventures of Hedi and Cokeman,"In Paris, two dysfunctional dealers use family..."
5001,Gone for Good,"Ten years ago, he lost two loved ones. When hi..."
2189,Dope,"Filmed from the perspectives of dealers, users..."